* {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h3 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

blockquote {
  margin: 0;
}

dl {
  margin: 0;
}

dd {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

ol {
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

picture {
  max-width: 100%;
  display: block;
}

input {
  font: inherit;
}

button {
  font: inherit;
}

textarea {
  font: inherit;
}

select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@keyframes scaleup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  display: flex;
  margin: 20px auto;
}

@media (min-width: 0) {
  .container {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}

@media (min-width: 1380px) {
  .container {
    width: 1380px;
  }
}

.container-fluid {
  display: flex;
  width: 100%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "DM Sans", sans-serif;
  padding: 10px;
}

body a:link {
  text-decoration: none;
}

header {
  flex-direction: column;
}

header h1 {
  color: #d04f4f;
}

#search {
  position: relative;
}

#search #btn_submit {
  content: url("../img/loupe.svg");
  position: absolute;
  width: 40px;
  height: 40px;
  right: 20px;
  top: 20%;
  border: none;
  background-color: #e7e7e7;
}

#search #searchbar {
  width: 100%;
  height: 70px;
  background-color: #e7e7e7;
  border: none;
  border-radius: 10px;
  padding: 0 30px;
  position: relative;
}

.select_filter {
  width: 170px;
  height: 70px;
  margin: 40px 40px 40px 0px;
  color: white;
  padding: 0px;
}

.select_filter.ingredients {
  background-color: #3282f7;
}

.select_filter.appliances {
  background-color: #68d9a4;
}

.select_filter.ustensils {
  background-color: #ed6454;
}

#filter_added {
  display: flex;
  flex-wrap: wrap;
}

#filter_added .filter_selected {
  width: auto;
  padding: 15px;
  margin-bottom: 10px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-right: 5px;
}

#filter_added .filter_selected .remove_filter {
  cursor: pointer;
  transition: all 0.3 ease-in;
  margin-left: 10px;
}

#filter_added .filter_selected .remove_filter:hover {
  transform: scale(1.1);
}

#filter_added .filter_selected.ingredients {
  background-color: #3282f7;
}

#filter_added .filter_selected.appliances {
  background-color: #68d9a4;
}

#filter_added .filter_selected.ustensils {
  background-color: #ed6454;
}

#filters {
  display: flex;
  flex-wrap: wrap;
}

#filters .drop {
  width: 170px;
  height: 70px;
  color: white;
  padding: 0px;
  position: relative;
  transition: width 0.5s;
  will-change: width;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

@media (min-width: 576px) {
  #filters .drop {
    margin: 40px 40px 40px 0px;
  }
}

#filters .drop.visible .options_container {
  overflow-y: scroll;
  height: 200px;
  border-bottom: 2px solid #e7e7e7;
}

#filters .drop.visible .options_container::-webkit-scrollbar {
  width: 10px;
}

#filters .drop.visible .options_container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

#filters .drop.visible .options_container::-webkit-scrollbar-thumb {
  background-color: #d04f4f;
  border-radius: 30px;
}

#filters .drop.ingredients .option {
  background-color: #3282f7;
}

#filters .drop.appliances .option {
  background-color: #68d9a4;
}

#filters .drop.ustensils .option {
  background-color: #ed6454;
}

#filters .drop .placeholder {
  border-radius: 5px;
  font-size: 18px;
}

#filters .drop .placeholder input {
  background: transparent;
  color: white;
  border: none;
  width: 90%;
}

#filters .drop .placeholder input::placeholder {
  color: white;
  opacity: 0.5;
}

#filters .drop .options_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
}

#filters .drop .options_container > * {
  flex: 1 1 130px;
}

#filters .drop .option {
  padding: 1em;
  cursor: pointer;
}

#filters .drop .option:not(.active) {
  display: none;
  opacity: 0;
  transform: translateY(-50%);
  padding: 0.5em;
}

#filters .drop .option.selected {
  background-color: #d04f4f;
}

#filters .drop.visible {
  animation: bounce 1s;
  width: 24em;
}

#filters .drop.visible .option_click {
  transform: rotate(225deg);
}

#filters .drop.visible.drop_up {
  opacity: 0;
}

#filters .drop.visible.drop_down {
  opacity: 1;
}

#filters .drop.visible .option {
  color: #fff;
  display: block;
}

#filters .drop.opacity .option {
  transform: translateZ(0);
  opacity: 1;
}

#filters .drop.opacity .option:nth-child(0) {
  transition: opacity 0.5s 0s, transform 0.5s 0s;
}

#filters .drop.opacity .option:nth-child(1) {
  transition: opacity 0.5s 0.1s, transform 0.5s 0.1s;
}

#filters .drop.opacity .option:nth-child(2) {
  transition: opacity 0.5s 0.2s, transform 0.5s 0.2s;
}

#filters .drop.opacity .option:nth-child(3) {
  transition: opacity 0.5s 0.3s, transform 0.5s 0.3s;
}

#filters .drop.opacity .option:nth-child(4) {
  transition: opacity 0.5s 0.4s, transform 0.5s 0.4s;
}

#filters .drop.opacity .option:nth-child(5) {
  transition: opacity 0.5s 0.5s, transform 0.5s 0.5s;
}

#filters .drop.opacity .option:nth-child(6) {
  transition: opacity 0.5s 0.6s, transform 0.5s 0.6s;
}

#filters .drop.opacity .option:nth-child(7) {
  transition: opacity 0.5s 0.7s, transform 0.5s 0.7s;
}

#filters .drop.opacity .option:nth-child(8) {
  transition: opacity 0.5s 0.8s, transform 0.5s 0.8s;
}

#filters .drop.opacity .option:nth-child(9) {
  transition: opacity 0.5s 0.9s, transform 0.5s 0.9s;
}

#filters .drop.withBG .option {
  transition: background-color 0.1s;
}

#filters .drop.withBG .option:not(.placeholder):hover {
  background-color: #d04f4f;
}

#filters .drop.withBG .option:not(.placeholder).active {
  background-color: #d04f4f;
}

#filters .drop .option_click {
  position: absolute;
  top: 1.5em;
  right: 1em;
  width: 0.75em;
  height: 0.75em;
  border: 0.2em solid white;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  cursor: pointer;
  z-index: 5;
  border-left: none;
  border-top: none;
  transition: all 0.8s;
}

.mini-hack {
  opacity: 0;
  transform: translateY(-50%);
}

#recipe {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
  #recipe {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1380px) {
  #recipe {
    grid-template-columns: repeat(3, 1fr);
  }
}

#recipe .card_recipe {
  width: 100%;
  height: calc(100% + 50px);
}

#recipe .card_recipe img {
  max-width: 100%;
  display: block;
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}

#recipe .card_recipe .recipe_desc_container {
  background-color: #e7e7e7;
  height: 50%;
  padding: 30px;
  border-radius: 0 0 5px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 30px 0px;
  grid-template-areas: "title time" "recipe desc";
}

#recipe .card_recipe .recipe_desc_container h2 {
  grid-area: title;
  display: flex;
  align-items: center;
  font-size: 20px;
}

#recipe .card_recipe .recipe_desc_container em {
  grid-area: time;
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
}

#recipe .card_recipe .recipe_desc_container em img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#recipe .card_recipe .recipe_desc_container .list_recipe {
  grid-area: recipe;
  display: flex;
  flex-direction: column;
}

#recipe .card_recipe .recipe_desc_container .line-clamp {
  width: 100%;
}

#recipe .card_recipe .recipe_desc_container .line-clamp .desc_recipe {
  grid-area: desc;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* autoprefixer: off */
}
/*# sourceMappingURL=styles.css.map */