#search {
    position: relative;

    #btn_submit {
        content: url("../img/loupe.svg");
        position: absolute;
        width: 40px;
        height: 40px;
        right: 20px;
        top: 20%;
        border: none;
        background-color: $grey;
    }

    #searchbar {
        width: 100%;
        height: 70px;
        background-color: $grey;
        border: none;
        border-radius: 10px;
        padding: 0 30px;
        position: relative;
    }
}

.select_filter {
    width: 170px;
    height: 70px;
    margin: 40px 40px 40px 0px;
    color: white;
    padding: 0px;

    &.ingredients {
        background-color: $color-primary;
    }

    &.appliances {
        background-color: $color-secondary;
    }

    &.ustensils {
        background-color: $color-tiertary;
    }
}

#filter_added {
    display: flex;
    flex-wrap: wrap;

    .filter_selected {
        width: auto;
        padding: 15px;
        margin-bottom: 10px;
        height: 40px;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        margin-right: 5px;

        .remove_filter {
            cursor: pointer;
            transition: all 0.3 ease-in;
            margin-left: 10px;

            &:hover {
                transform: scale(1.1);
            }
        }

        &.ingredients {
            background-color: $color-primary;
        }

        &.appliances {
            background-color: $color-secondary;
        }

        &.ustensils {
            background-color: $color-tiertary;
        }
    }
}

#filters {
    display: flex;
    flex-wrap: wrap;

    .drop {
        width: 170px;
        height: 70px;
        color: white;
        padding: 0px;
        position: relative;
        transition: width 0.5s;
        will-change: width;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;

        @include breakpoint(sm) {
            margin: 40px 40px 40px 0px;
        }

        &.visible {
            .options_container {
                overflow-y: scroll;
                height: 200px;
                border-bottom: 2px solid $grey;

                &::-webkit-scrollbar {
                    width: 10px;
                }

                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $base-font;
                    border-radius: 30px;
                }
            }
        }

        &.ingredients {
            .option {
                background-color: $color-primary;
            }
        }

        &.appliances {
            .option {
                background-color: $color-secondary;
            }
        }

        &.ustensils {
            .option {
                background-color: $color-tiertary;
            }
        }

        .placeholder {
            border-radius: 5px;
            font-size: 18px;

            input {
                background: transparent;
                color: white;
                border: none;
                width: 90%;

                &::placeholder {
                    color: white;
                    opacity: 0.5;
                }
            }
        }

        .options_container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 0;

            & > * {
                flex: 1 1 130px;
            }
        }

        .option {
            padding: 1em;
            cursor: pointer;

            &:not(.active) {
                display: none;
                opacity: 0;
                transform: translateY(-50%);
                padding: 0.5em;
            }

            &.selected {
                background-color: $base-font;
            }
        }

        &.visible {
            animation: bounce 1s;
            width: 24em;

            .option_click {
                transform: rotate(225deg);
            }

            &.drop_up {
                opacity: 0;
            }
            &.drop_down {
                opacity: 1;
            }

            .option {
                color: #fff;
                display: block;
            }
        }

        &.opacity {
            .option {
                transform: translateZ(0);
                opacity: 1;

                @for $i from 0 to 10 {
                    &:nth-child(#{$i}) {
                        transition: opacity 0.5s 0.1s * $i,
                            transform 0.5s 0.1s * $i;
                    }
                }
            }
        }

        &.withBG {
            .option {
                transition: background-color 0.1s;

                &:not(.placeholder):hover {
                    background-color: $base-font;
                }

                &:not(.placeholder).active {
                    background-color: $base-font;
                }
            }
        }

        .option_click {
            position: absolute;
            top: 1.5em;
            right: 1em;
            width: 0.75em;
            height: 0.75em;
            border: 0.2em solid white;
            transform: rotate(45deg);
            transform-origin: 50% 50%;
            cursor: pointer;
            z-index: 5;
            border-left: none;
            border-top: none;
            transition: all 0.8s;
        }
    }
}

.mini-hack {
    opacity: 0;
    transform: translateY(-50%);
}

#recipe {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);

    @include breakpoint(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(xl) {
        grid-template-columns: repeat(3, 1fr);
    }

    .card_recipe {
        width: 100%;
        height: calc(100% + 50px);

        img {
            max-width: 100%;
            display: block;
            height: 300px;
            width: 100%;
            object-fit: cover;
            border-radius: 5px 5px 0px 0px;
        }

        .recipe_desc_container {
            background-color: #e7e7e7;
            height: 50%;
            padding: 30px;
            border-radius: 0 0 5px 5px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.5fr 1.5fr;
            gap: 30px 0px;
            grid-template-areas:
                "title time"
                "recipe desc";

            h2 {
                grid-area: title;
                display: flex;
                align-items: center;
                font-size: 20px;
            }

            em {
                grid-area: time;
                display: flex;
                justify-content: flex-end;
                font-size: 18px;
                font-weight: 700;
                align-items: center;

                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
            }

            .list_recipe {
                grid-area: recipe;
                display: flex;
                flex-direction: column;
            }

            .line-clamp {
                width: 100%;

                .desc_recipe {
                    grid-area: desc;
                    display: -webkit-box;
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    /* autoprefixer: off */
                }
            }
        }
    }
}
